* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background: hsla(197, 100%, 63%, 1);

  background: linear-gradient(
    270deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
}

main {
  background: url(./images/background.svg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;

  margin: 1.5rem 0 0 0;
}

.github {
  margin: 0.25rem 0 0 0;
  text-decoration: none;
  font-weight: 400;
  color: var(--gray);

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.github:hover {
  transition: 0.2s;
  filter: brightness(0.5);
}

p {
  margin: 2rem 0 0 0;
  font-weight: 400;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.2rem;

  justify-content: center;
}

ul li a {
  transition: 0.2s;
}

ul li a:hover {
  filter: brightness(0.8);
  transition: 0.2s;
}
